/*
Título: Estilos CSS para Mapa, Icono de Ubicación Actual y Etiquetas.

Descripción: Código CSS proporciona estilos para el mapa, el icono de ubicación actual 
y las etiquetas en la interfaz de usuario. Define el tamaño y el borde del mapa, el estilo 
del icono de ubicación actual y el diseño de las etiquetas que muestran información en la 
pantalla. También incluye estilos para el encabezado, el cuerpo y la imagen de la página.

Fecha: 09 de febrero de 2024
*/


#map {
    height: 510px;
    width: 80%;
    border: 3px solid #9FD647;
    border-radius: 10px;
}

.current-location-icon {
    width: 80px;
    height: 80px;
    border: 2px solid #87ebeb;
    border-radius: 50%;
}

.current-location-icon .circle {
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 50%;
}

/* styles.css */
#labels {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    margin-left: 135px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 455px;
    height: 130px;
    border: 1px solid darkblue;
}

#labels label {
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

h1 {
    color: #87CEEB;
    text-align: center;
    font-size:50px;
}

body {
    background-color: #23C6DB;
    padding-bottom: 100px;
}

img{
    width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
}